spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: taskmanager
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  docker:
    compose:
      enabled: ${DOCKER_COMPOSE_ENABLED}
logging:
  level:
    liquibase: INFO
